@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 400;
        src: url(/../assets/fonts/Lato-Regular.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 700;
        src: url(/../assets/fonts/Lato-Bold.ttf) format('truetype');
    }
    
    @font-face {
        font-family: 'Lato';
        font-style: normal;
        font-weight: 900;
        src: url(/../assets/fonts/Lato-Black.ttf) format('truetype');
    }
    
    h1 {
        @apply text-4xl;
        @apply md:text-5xl;
        @apply lg:text-[72px];
        @apply leading-normal;
        @apply font-black;
    }

    h2 {
        @apply text-4xl;
    }
    
    h5 {
        @apply text-2xl;
    }

    h6 {
        @apply text-xl;
    }

}

.sect {
    @apply max-w-page-width;
    @apply py-8;
    @apply px-4;
    @apply md:px-8;
    @apply mx-auto;
    @apply w-full;
}

#categories img {
    height: 56px;
}

#categories button {
    height: 104px;
    font-size: 24px;
    width: 232px;
    margin: 12px auto;
}

.pet-card {
    padding: 20px;
    gap: 12px;
    border-radius: 8px;
    box-shadow: 4px 4px 4px 4px #44444422;
}

.pet-image {
    border-radius: 8px;
    overflow: hidden;
    width: 100%;
    height: 160px;
}

.pet-image img {
    height: 100%;
    min-width: 100%;
}